<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="color: red" th:text="${msgBody}"></h1>
    <p>Test email html</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2m0QaEFPIhyl4RWfLL7xJ80GYszBibhDcZA&s"
     alt="doraemon" width="100px" height="100px"/>
</body>
</html>